.verseNbr{
  font-size:60%;
  font-weight: bold;
  display:inline-block;
  //border: 1px solid black;
  vertical-align: text-top;
  //align-content: left;
  //margin-bottom: 100px;
  //padding-bottom: 3%;
  //padding-top: 1%;
  //padding-right: 20%;
  //height: 100%;

}

@font-face {
  font-family: "Gentium Plus"; 
  src: url("../Fonts/GentiumPlus-Regular.ttf");
}

body {
  font-family: "Gentium Plus"; 
     /* font-family: "Cardo"; */
    /* fall back to sans serif so that it's really obvious if the fonts don't load */
}
